.about{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    margin-left: 5%;
    margin-top: 50px;

}
.cuadro{
    flex-grow: 1;
    width:300px;
    height:200px;
    text-align: center;
    margin-top: 30px;

}
.paper{
    flex-grow: 1;
    max-width: 300px;
    height: 250px;
    padding-top: 45px;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin:0px;
    padding:0px;
    position: relative;
    transition: all .5s ease;
    overflow: hidden;
    margin: 0 30px;
}
.padre{
    filter: grayscale(80%);
}
.paper span{
    position: absolute;
    color:#fff;
    top:45%;
    left:32%;
    font-size: 26px;
    z-index: 3;
    font-family: 'Avant';
}
.paper img{

    width: 120%;
    height: 120%;
    overflow: hidden;
}
.magnify{
    position: absolute;
    z-index: 5;
    opacity: 0;
    margin:0 auto;
    left: -10%;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.box_etiqueta{
    padding:2px 4px;
}
.paper:hover .magnify {
    opacity: 100 !important;
}
.paper:hover .padre{
    cursor:pointer;

    transform: scale(1.5);
}
/*.paper:hover .box_etiqueta{*/
    /*background:linear-gradient(to right, #b623a0 0%, #d42677 100%);*/
    /*padding: 2px 4px;*/
    /*border-radius: 3px;*/
/*}*/
.paper .padre{
    transition: all .5s ease;
}

.categorias{
    margin-top: 50px;
}
.box_cats{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    margin-left: 5%;
}
.cat{
    width:100px;
    height:300px;
    flex-grow: 1;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin: 0 30px;

    background-position: center;
    background-size: cover;
    background-image: url('http://ntrzacatecas.com/content/uploads/2016/10/artesanias-1-1000x586.jpg');
    cursor: pointer;
}
.cubierta{
    width:100%;
    height:100%;
    transition: all 1s ease;

}
.subtittle{
    font-family: 'Avant';
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cubierta:hover{
    background-color: rgba(0,0,0,.2);

}
.etiqueta{
    width:100%;
    height:70px;
    background-color: white;
    position: relative;
    top:60%;
    transition: all 1s ease;
    color:black;

}
.etiqueta p{
    margin-top: 0px;
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Avant';

}
.cubierta:hover .etiqueta{
    background-color: #C2185B;
    color:white;
}
.cubierta:hover .etiqueta p{
    display: block;
}
.linea{
    border:transparent;

    border-top:1px solid #ececec;
}